<h2>All Recipes</h2>

{{#each cocktail}}
  <p>Cocktail name: {{name}}</p>

  <p>Ingredient 1: {{ingredient1}}</p>

  <p>Ingredient 2: {{ingredient2}}</p>

  <p>Ingredient 3: {{ingredient3}}</p>

  <p>Ingredient 4: {{ingredient4}}</p>

  <p>Ingredient 5: {{ingredient5}}</p>

  <p>Ingredient 6: {{ingredient6}}</p>

  <p>Ingredient 7: {{ingredient7}}</p>

  <p>Ingredient 8: {{ingredient8}}</p>

  <p>Ingredient 9: {{ingredient9}}</p>

  <p> {{instructions}}</p>
  
{{/each}}