<h1>Edit your cocktail</h1><br>
<br>
<form action="/{{_id}}" method="POST">
    <input type="text" id="name" name="name" value="{{name}}">
    <br>
    <input type="text" id="ingredient1" name="ingredient1" value="{{ingredient1}}">
    <br>
    <input type="text" id="ingredient2" name="ingredient2" value="{{ingredient2}}">
    <br>
    <input type="text" id="ingredient3" name="ingredient3" value="{{ingredient3}}">
    <br>
    <input type="text" id="ingredient4" name="ingredient4" value="{{ingredient4}}">
    <br>
    <input type="text" id="ingredient5" name="ingredient5" value="{{ingredient5}}">
    <br>
    <input type="text" id="ingredient6" name="ingredient6" value="{{ingredient6}}">
    <br>
    <input type="text" id="ingredient7" name="ingredient7" value="{{ingredient7}}">
    <br>
    <input type="text" id="ingredient8" name="ingredient8" value="{{ingredient8}}">
    <br>
    <input type="text" id="ingredient9" name="ingredient9" value="{{ingredient9}}">
    <br>
    <textarea name="instructions" id="instructions">{{instructions}}</textarea>
    <br>
<button type="submit">Edit</button>
</form>
<br>
<a href="/">Back to menu</a>